{% extends "base.html" %}
{% load static %}
{% block content %}
<style>
.iframe-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
  }
  
  /* Then style the iframe to fit in the container div with full height and width */
  .responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }
</style>
<div class="d-sm-flex justify-content-between align-items-center mb-4">
    <h3 class="text-dark mb-0" style="margin-top: 20px;margin-left: 10px;">5irechain Explorer</h3>
    <div class="dropdown"><button class="btn btn-primary dropdown-toggle" aria-expanded="false" data-toggle="dropdown" type="button" style="margin-right: 10px;margin-top: 20px;">Menu</button>
        <div class="dropdown-menu"><a class="dropdown-item" href="{% url 'home'%}">Dashboard</a><a class="dropdown-item" href="{% url 'wallet'%}">Wallet</a><a class="dropdown-item" href="{% url 'activity'%}">Activity</a><a class="dropdown-item" href="{% url 'leaderboard'%}">Leaderboard</a></div>
    </div>
</div>
<div class="row mb-3">
    <div class="col iframe-container">
        <!-- <iframe class="responsive-iframe" src="https://www.youtube.com/embed/U8iro7KHuV4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
        <iframe class="responsive-iframe" sandbox="allow-forms allow-scripts" src="https://polkadot.js.org/apps/#/"></iframe>
    </div>    
</div>
{% endblock %}